<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warcraftyork.mapper.PoliciesMapper">

    <select id="getDBInfo" resultMap="DBInfoResultMap">
        select host, db, user from db where user=#{user}
    </select>

    <resultMap id="DBInfoResultMap" type="com.warcraftyork.bean.DBInfo">
        <result column="db" property="db"  jdbcType="VARCHAR"/>
        <result column="host" property="host" jdbcType="VARCHAR"/>
        <result column="user" property="user" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>