<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 1、mybatis使用properties来引入外部properties配置文件的内容
               resource 引入类路径下资源
               url 引入网络路径或磁盘路径下资源 -->
    <properties resource="./application.properties"></properties>

    <!-- 2、settings包含很多重要的设置项
             setting标识具体的设置项
                 name表示设置项的名字
                 value表示设置项的值 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <!-- 3、typeAliases 为java类型起别名，别名不区分大小写
              typeAlias 为某个具体的java类型取别名
                   type java类的全类名，默认别名就是类名小写
                   alias 自定义别名 -->
    <typeAliases>
        <!--  JavaBean类型自动映射扫描包配置,设置扫描位置 -->
        <!--<package name="com.brok1n.web.java.springmvcdemo1.bean"/>-->
        <!-- 设置Bean别名 -->
        <typeAlias type="com.warcraftyork.bean.DBInfo" alias="DBInfo"  />
    </typeAliases>

    <!-- typeHandlers 类型处理器-->
    <!--<typeHandlers>-->
        <!--<typeHandler handler=""/>-->
    <!--</typeHandlers>-->

    <!-- 5、environments环境配置，可以配置多种环境  default指定使用某种环境，可以达到快速切换
    environment配置一个具体的环境信息，必须有如下两个标签，id表示当前环境的唯一标识
    transactionManager 事物管理器
    type 事物管理器的类型   有两种取值
    JDBC
    managed
    dataSource 数据源
    type    有三种[UNPOOLED|POOLED|JNDI]
    -->
    <!-- 设置当前环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 开启事务 JDBC使用数据库自己的事务（局部事务）,提示如果你正在使用 Spring + MyBatis，则没有必要配置事务管理器 -->
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.driver-class-name}" />
                <property name="url" value="${spring.datasource.url}" />
                <property name="username" value="${spring.datasource.username}" />
                <property name="password" value="${spring.datasource.password}" />
            </dataSource>
        </environment>

        <environment id="test">
            <transactionManager type="JDBC" />
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${spring.datasource.driver-class-name}" />
                <property name="url" value="${spring.datasource.url}" />
                <property name="username" value="${spring.datasource.username}" />
                <property name="password" value="${spring.datasource.password}" />
            </dataSource>
        </environment>
    </environments>

    <!--6、 mappers将sql映射注册到全局配置文件中
              mapper注册一个sql映射
                 1、注册配置文件
                      resource引用类路径下文件
                      url  引用网络上或磁盘路径下文件
                 2、注册mapper接口
                     class  有映射文件，接口和映射文件必须同名，而且放在同一个路径里
                            如果没有映射文件，sql语句使用注解的方式，就需要注册接口了
                 3、package批量注册
                      使用批量注册，  接口和映射文件必须同名，而且放在同一个路径里
     -->
    <!-- 映射文件路径 -->
    <mappers>
        <mapper resource="com/warcraftyork/mybatisMapper/PoliciesMapper.xml" />
    </mappers>
</configuration>
