<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>Protect U - No need yourself</title>
</head>
<body>
    <div align="center">
        <div>
            <div>
                <h1>Protect U</h1>
                <form class="form" method="post" action="" onsubmit="return Login();">
                    <input type="text" placeholder="账号" name="username" id="username"></br>
                    <input type="password" placeholder="密码" name="password" id="password"></br>
                    <label class="checkbox"><input type="checkbox"><span>记住密码</span></label></br>
                    <button type="button" id="btnlogin">登录</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>