<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>保险单</title>
</head>
<h2>保险单</h2>
<form action="">
    被保人：<input type="text" name="insuredName" placeholder="请输入被保人姓名..." autofocus required /><br />
    性别：<input type="radio" name="sex" value="male">男
          <input type="radio" name="sex" value="female">女<br>
    险种：<select>
            <option value="Medical">医疗险</option>
            <option value="critical">重疾险</option>
            <option value="life">寿险</option>
            <option value="accident">意外险</option>
          </select>
    保险公司：<input type="text" name="policiesCompany" required /><br />
    保险名称：<input type="text" name="policiesName" required /><br />
    保单号：<input type="text" name="policiesNo" required /><br />
    备注：<textarea></textarea><br />
    <button type="save">保存</button><br />
    <input type="submit" value="提交">
    <button type="exit">注销</button>
    <a href="/login">注销</a>
</form>
<body>
<!--<h3 th:text="'登录用户：' + ${name}"></h3>-->
</body>
</html>

<!--<div layout="row" layout-align="center center">-->
<!--<md-card flex-sm="100" flex-gt-sm="60" flex-gt-md="40">-->
<!--<form name="form" novalidate ng-submit="login($event)">-->
<!--<md-card-content>-->
<!--<h2 class="md-title">用户登录</h2>-->
<!--<p class="error" ng-show="authenticationError">用户登录失败，请检查输入</p>-->
<!--<div class="inset"></div>-->
<!--<md-input-container class="md-block"> <label>用户名</label>-->
<!--<input type="text" name="username" ng-model="username" required-->
<!--md-maxlength="20" ng-pattern="/^[0-9a-zA-Z_]*$/">-->
<!--<div ng-messages="form.username.$error">-->
<!--<div ng-message="required">请输入用户名</div>-->
<!--<div ng-message="pattern">用户名只能包含英文字母、数字和下划线</div>-->
<!--<div ng-message="md-maxlength">用户名不能多于20个字符</div>-->
<!--</div>-->
<!--</md-input-container> <md-input-container class="md-block"> <label>密码</label>-->
<!--<input type="password" name="password" ng-model="password" required-->
<!--md-maxlength="20">-->
<!--<div ng-messages="form.password.$error">-->
<!--<div ng-message="required">请输入密码</div>-->
<!--<div ng-message="md-maxlength">密码不能多于20个字符</div>-->
<!--</div>-->
<!--</md-input-container> </md-card-content>-->
<!--<md-card-actions layout="row" layout-padding-->
<!--layout-align="space-between center"> <md-checkbox-->
<!--ng-model="rememberMe" class="md-primary">保持登录</md-checkbox> <md-button-->
<!--type="submit" class="md-primary md-raised">登录</md-button> </md-card-actions>-->
<!--</form>-->
<!--</md-card>-->
<!--</div>-->