<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insurances</title>
</head>
<body>
<h2>你的信息</h2>

<table border="1" cellspacing="0" cellpadding="20">
    <tr>
    <th>User</th>
    <th>Register Date</th>
     {% for i in res %}
    <tr>
        <td>{{i.username}}</td>
        <td>{{i.register_date}}</td>
        <td><a href="{{ url_for('user_info_delete') }}">Remove</a></td>
<!--        <button type="submit" >Submit</button>-->
    </tr>
    {% endfor %}

    </tr>

</table>
</body>
</html>